
    <%= render 'list' %>
   </div>
    <div class="col-md-8 offset-md-1">

      <h2>Book detail</h2>
       <table>
          <tbody>

           <tr>
             <td><%= image_tag @book_params.user.get_profile_image(100,100) %></td>
             <td><%= @book_params.title %></td>
             <td><%= @book_params.body %></td>
             <td><%=link_to "Edit", edit_book_path(@book_params) %></td>
             <td><%= link_to "Destroy", book_path(@book_params), method: :delete %></td>
           </tr>
         </tbody>
       </table>
     </div>

  </div>
</div>